h1=current_developer.name || current_developer.email

div.row
  div.col-md-6
    div.panel.panel-primary
      div.panel-heading
        h3.panel-title Games
      div.panel-body
        ul.list.group
          -for game in current_developer.games
            li.list-group-item=link_to(game.name, game_path(game))
              a.btn.btn-primary.btn-xs.pull-right Delete
        a.btn.btn-primary href=new_game_path New Game
  div.col-md-6
    div.panel.panel-primary
      div.panel-heading
        h3.panel-title Studios
      div.panel-body
        ul.list.group
          -for studio in current_developer.studios
            li.list-group-item=link_to(studio.name, studio_path(studio))
              a.btn.btn-primary.btn-xs.pull-right Delete
        a.btn.btn-primary href=new_studio_path New Studio
