div.col-md-6.text-center
  | Developers
  div.row
    div.col-xs-5
    a.btn.btn-success.col-xs-2 href='#' Sign up
    br
  div.row
    br
    div.col-xs-5
    a.btn.btn-info.col-xs-2 href='#' Login

div.col-md-6.text-center
  | Players
  div.row
    div.col-xs-5
    a.btn.btn-success.col-xs-2 href='#' Sign up
    br
  div.row
    br
    div.col-xs-5
    a.btn.btn-info.col-xs-2 href='#' Login
