= form_for @game do |f|
  - if @game.errors.any?
    #error_explanation
      h2 = "#{pluralize(@game.errors.count, "error")} prohibited this game from being saved:"
      ul
        - @game.errors.full_messages.each do |message|
          li = message

  div.form-group.field
    h1.push-top= f.label :name, 'Game Name'
    = f.text_field :name, class: 'form-control'
  div.form-group.field
    = f.label :description
    = f.text_field :description, class: 'form-control'
  div.form-group.field
    = f.label :cover_image_loc
    = f.text_field :cover_image_loc, class: 'form-control'
  div.form-group.field
    = f.label :studio
    = f.text_field :studio, class: 'form-control'
  div.form-group.field
    = f.label :auth_token
    = f.text_field :auth_token, class: 'form-control'
  br
  div.row
    div.col-xs-6
      .actions = f.submit 'Save', class: 'btn btn-primary col-xs-3'
    div.col-xs-6.pull-right
      = link_to 'Back', studios_path, class: 'btn btn-primary pull-right col-xs-3'
  br
