h1 Listing games

table
  thead
    tr
      th Name
      th Description
      th Cover image loc
      th Studio
      th Game
      th Auth token
      th
      th
      th

  tbody
    - @games.each do |game|
      tr
        td = game.name
        td = game.description
        td = game.cover_image_loc
        td = game.studio
        td = game.game_id
        td = game.auth_token
        td = link_to 'Show', game
        td = link_to 'Edit', edit_game_path(game)
        td = link_to 'Destroy', game, data: {:confirm => 'Are you sure?'}, :method => :delete

br

= link_to 'New Game', new_game_path
