p#notice = notice

p
  strong Name:
  = @game.name
p
  strong Description:
  = @game.description
p
  strong Cover image loc:
  = @game.cover_image_loc
p
  strong Studio:
  = @game.studio
p
  strong Game:
  = @game.game_id
p
  strong Auth token:
  = @game.auth_token

= link_to 'Edit', edit_game_path(@game)
'|
= link_to 'Back', games_path
