= form_for @achievement do |f|
  - if @achievement.errors.any?
    #error_explanation
      h2 = "#{pluralize(@achievement.errors.count, "error")} prohibited this achievement from being saved:"
      ul
        - @achievement.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :icon_loc
    = f.text_field :icon_loc
  .field
    = f.label :point_value
    = f.number_field :point_value
  .field
    = f.label :game
    = f.text_field :game
  .actions = f.submit 'Save'
