h1 <strong>#{@game.name}</strong> Achievements

table
  thead
    tr
      th Name
      th Description
      th Icon loc
      th Point value
      th Game
      th
      th
      th

  tbody
    - @achievements.each do |achievement|
      tr
        td = achievement.name
        td = achievement.description
        td = achievement.icon_loc
        td = achievement.point_value
        td = achievement.game
        td = link_to 'Show', game_achievement
        td = link_to 'Edit', edit_game_achievement_path(achievement)
        td = link_to 'Destroy', game_achievement, data: {:confirm => 'Are you sure?'}, :method => :delete

br

= link_to 'New Achievement', new_game_achievement_path
