p#notice = notice

p
  strong Name:
  = @achievement.name
p
  strong Description:
  = @achievement.description
p
  strong Icon loc:
  = @achievement.icon_loc
p
  strong Point value:
  = @achievement.point_value
p
  strong Game:
  = @achievement.game

= link_to 'Edit', edit_achievement_path(@achievement)
'|
= link_to 'Back', achievements_path
