= form_for @studio do |f|
  - if @studio.errors.any?
    #error_explanation
      h2 = "#{pluralize(@studio.errors.count, "error")} prohibited this studio from being saved:"
      ul
        - @studio.errors.full_messages.each do |message|
          li = message

  h1.push-top Studio
  div.form-group.field
    = f.label :name
    = f.text_field :name, class: 'form-control'
  h4 Point of Contact
  div.form-group.field
    = f.label :poc_name, 'Name'
    = f.text_field :poc_name, class: 'form-control'
  div.form-group.field
    = f.label :poc_email, 'Email'
    = f.text_field :poc_email, class: 'form-control'
  div.form-group.field
    = f.label :poc_phone, 'Phone Number'
    = f.text_field :poc_phone, class: 'form-control'
  div.form-group.field
    = f.label :address, 'Address'
    = f.text_field :address, class: 'form-control'
  div.form-group.field
    = f.label :secondary_address, 'Secondary Address'
    = f.text_field :secondary_address, class: 'form-control'
  div.form-group.field
    = f.label :state_province, "State/Province"
    = f.text_field :state_province, class: 'form-control'
  div.form-group.field
    = f.label :country
    = f.text_field :country, class: 'form-control'
  div.form-group.field
    = f.label :zip_postal, "Zip/Postal Code"
    = f.text_field :zip_postal, class: 'form-control'
  br
  div.row
    div.col-xs-6
      .actions = f.submit 'Save', class: 'btn btn-primary col-xs-3'
    div.col-xs-6.pull-right
      = link_to 'Back', studios_path, class: 'btn btn-pull-right col-xs-3'
  br
