h1 Listing studios

table
  thead
    tr
      th Name
      th Description
      th Poc name
      th Poc email
      th Poc phone
      th Address
      th Secondary address
      th State province
      th Country
      th Zip postal
      th
      th
      th

  tbody
    - @studios.each do |studio|
      tr
        td = studio.name
        td = studio.description
        td = studio.poc_name
        td = studio.poc_email
        td = studio.poc_phone
        td = studio.address
        td = studio.secondary_address
        td = studio.state_province
        td = studio.country
        td = studio.zip_postal
        td = link_to 'Show', studio
        td = link_to 'Edit', edit_studio_path(studio)
        td = link_to 'Destroy', studio, data: {:confirm => 'Are you sure?'}, :method => :delete

br

= link_to 'New Studio', new_studio_path
