p#notice = notice

p
  strong Name:
  = @studio.name
p
  strong Description:
  = @studio.description
p
  strong Poc name:
  = @studio.poc_name
p
  strong Poc email:
  = @studio.poc_email
p
  strong Poc phone:
  = @studio.poc_phone
p
  strong Address:
  = @studio.address
p
  strong Secondary address:
  = @studio.secondary_address
p
  strong State province:
  = @studio.state_province
p
  strong Country:
  = @studio.country
p
  strong Zip postal:
  = @studio.zip_postal

= link_to 'Edit', edit_studio_path(@studio)
'|
= link_to 'Back', studios_path
