div.row
  div.col-sm-3
    div.row
      div.col-sm-6
        img alt="#{@player.handle}s mug" width=180 height=180 src='/assets/leeroy.jpg'
      div.col-sm-6
        h1.push-top=@player.handle
        = @player.email
    div.row
      div.col-sm-12
        | <strong>Hours Played:</strong> #{'none'}

  div.col-sm-4
    = render(partial: 'game', collection: @player.games)
  div.col-sm-5
    = render(partial: 'achievement', collection: @player.achievements)

