nav.navbar.navbar-inverse
  div.container-fluid
    div.navbar-header
      a.navbar-brand href='#' Profiles
    div.collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          a href='#' Developers
      ul.nav.navbar-nav.navbar-right
        li
          a href='#' Players
        

