doctype html
html
  head
    meta[name="viewport" content="width=device-width, initial-scale=1.0"]
    title Player Profiles
    meta name="description" content="#{content_for?(:description) ? yield(:description) : 'Game Profiles'}"
    == stylesheet_link_tag "application", :media => 'all', 'data-turbolinks-track' => true
    == javascript_include_tag 'application', 'data-turbolinks-track' => true
    == csrf_meta_tags
  body
    header
      == render 'layouts/navigation'
    div.content-fluid
      == yield
    p.notice= notice
    p.alert= alert
